
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<script>
    $(document).ready(function () {
        $("#Modal2").modal('show');
    });
</script>
<div class="modal fade" id="Modal2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">
                    <img id="resim" src="https://i0.wp.com/thefluffy007.com/wp-content/uploads/2022/09/about-me-leon-severan-we-buy-houses-1.jpg?resize=700%2C435&ssl=1" width="150" height="100" />
                </h2>
            </div>
            <form>
                <div class="modal-body">
                    <p>Merhaba ben Elif Çalış.</p>
                    <br />
                    <p>Bu kodlamayı Murat Yücedağ`ın Youtube`ta bulunan 50 Derste Mvc serisi ile gerçekleştirdim.</p>
                    <br />
                    <p>Tarih: 24.12.2023</p>
                    




                </div>

            </form>
        </div>
    </div>
</div>
